/*
 * 画面全体に関する設定
 */
 body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    background-color: #cccccc;
    margin: 0;
}

a {
    color: #00B7FF;
}

div {
    /* margin: 20px 0px; */
}

h1{
    margin: 0;
    font-family: "Comic Sans MS";
    color: #708090;
    font-size: 60px;
  }

.row {
    margin: 20px;
    padding: 50px;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
/* .container{
    background-color: aqua;
} */

.container1 {
    background-color:#333c5e;
    text-align: center;
    margin: auto;
    margin-top: 25%;
    margin-bottom: 75%;
    width: 600px;
    height: 350px;
    border-radius: 1.67em;
  }

.index-user_name {

}

.index-user_name_text {
    width: 300px;
    height: 40px;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
    outline: none; 
    border: 2px solid #1F2F54;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    background-color:#1F2F54;
    caret-color: white;
    color: white;
} 

.index-enter {
    padding: 10px;
}

.index-enter_button {
    width: 300px;
    height: 30px;
    font-size: 100%;
    background-color: #0a0;
    color: #dcdcdc;
    padding: 0;
    border: none;
    outline: none; 
    cursor: pointer;
    border: 2px solid #0a0;  /* 枠線 */
    border-radius: 0.67em;   /* 角丸 */
    color: white;
}

.index-enter_button:hover {
    opacity: 0.9;
  }

/*
 * チャットルーム画面（room.hbs）に関する設定
 */

 .container2 {
    width: 100%;
    min-height: 100vh;
    margin: 30px;
  }

  header {
    width: 100%;
    height: 150px;
    background: #35357d;
    display: flex;
  }

  .row3 {
    /* margin: 20px; */
    padding: 50px;
    width: 70%;
    background-color: red;
  }

  .room-login_exit_set{
    width: 30%;
  }
  
  .room-login_user {
      width: 100%;
      padding-top: 20px;
      text-align: center;
    }

    .room-break {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
    
    .room-break_button {
        width: 50%;
        height: 30px;
        font-size: 100%;
        background-color: green;
        color: #dcdcdc;
        padding: 0;
        border: 0;
        cursor: pointer;
    }
    
    .room-exit {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
    
    .room-exit_button {
        width: 50%;
        height: 30px;
        font-size: 100%;
        background-color: green;
        color: #dcdcdc;
        padding: 0;
        border: 0;
        cursor: pointer;
    }

    .main{
        display: flex;
        width: 100%;
        height: 700px;
    }

    .user{
        background-color: yellow;
        width: 30%;
        height: 400px;
    }
    
    .room-thread {
        background-color: purple;
        width: 70%;
        height: 400px;
    }

    .left{
        text-align: left;
    }

    .right{
        text-align: right;
    }
    
    .room-messeage_set {
        position: absolute; /*←絶対位置*/
        bottom: 0; /*下に固定*/
        width: 100%;
    }
    
    .room-message {
    }

.room-message_textarea {
    width: 99.5%;
}

.room-submit {
    width: 100%;
    display: flex;
}

.room-publish_button {
    width: 50%;
    height: 30px;
    margin-right: 1%;
    font-size: 100%;
    background-color: green;
    color: #dcdcdc;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.room-memo_button {
    width: 50%;
    height: 30px;
    font-size: 100%;
    background-color: green;
    color: #dcdcdc;
    padding: 0;
    border: 0;
    cursor: pointer;
}

/* @media screen and (max-width: 375px) {
    body {
        font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
        background-color: red;
        margin: 0;
    }    
  } */