/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    background-color: aqua;
    margin: 0;
}

a {
    color: #00B7FF;
}

div {
    /* margin: 20px 0px; */
}

h1{
    margin: 0;
  }

.row {
    /* margin: 20px; */
    padding: 50px;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
/* .container{
    background-color: aqua;
} */

.container1 {
    background-color: red;
    text-align: center;
    margin: auto;
    margin-top: 35%;
    margin-bottom: 65%;
    width: 400px;
    height: 300px;
  }

.index-user_name {

}

.index-user_name_text {
    width: 200px;
    height: 40px;
    font-size: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
}

.index-enter {
    padding: 10px;
}

.index-enter_button {
    width: 200px;
    height: 30px;
    font-size: 100%;
    background-color: green;
    color: #dcdcdc;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.index-enter_button:hover {
    opacity: 0.5;
  }

/*
 * チャットルーム画面（room.hbs）に関する設定
 */

 .container2 {
    width: 100%;
    min-height: 100vh;
    margin: 30px;
  }

  header {
    width: 100%;
    height: 150px;
    background: #35357d;
    display: flex;
  }

  .row2 {
    /* margin: 20px; */
    padding: 50px;
    width: 70%;
    background-color: red;
  }

  .room-login_exit_set{
    width: 30%;
  }
  
  .room-login_user {
      width: 100%;
      padding-top: 20px;
      text-align: center;
    }

    .room-break {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
    
    .room-break_button {
        width: 50%;
        height: 30px;
        font-size: 100%;
        background-color: green;
        color: #dcdcdc;
        padding: 0;
        border: 0;
        cursor: pointer;
    }
    
    .room-exit {
        width: 100%;
        padding-top: 20px;
        text-align: center;
    }
    
    .room-exit_button {
        width: 50%;
        height: 30px;
        font-size: 100%;
        background-color: green;
        color: #dcdcdc;
        padding: 0;
        border: 0;
        cursor: pointer;
    }

    .main{
        display: flex;
        width: 100%;
        height: 700px;
    }

    .user{
        background-color: yellow;
        width: 30%;
        height: 400px;
    }
    
    .room-thread {
        background-color: purple;
        width: 70%;
        height: 400px;
    }
    
    .room-messeage_set {
        position: absolute; /*←絶対位置*/
        bottom: 0; /*下に固定*/
        width: 100%;
    }
    
    .room-message {
        
    }

.room-message_textarea {
    width: 99.5%;
}

.room-submit {
    width: 100%;
    display: flex;
}

.room-publish_button {
    width: 50%;
    height: 30px;
    margin-right: 1%;
    font-size: 100%;
    background-color: green;
    color: #dcdcdc;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.room-memo_button {
    width: 50%;
    height: 30px;
    font-size: 100%;
    background-color: green;
    color: #dcdcdc;
    padding: 0;
    border: 0;
    cursor: pointer;
}


